<div class="d-flex justify-content-between">
    <h4>Add new Employee</h4>
    
    <button mat-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    
    </div>
    
    <div style="overflow: auto; height: 450px;">
      <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    
        <div class="m-3 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Employee Name</span>
          </div>
          <input required minlength="2" type="text"
          class="form-control"
          name="EmployeeName"
          #EmployeeName="ngModel"
          [(ngModel)]="service.formData.EmployeeName">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Department</span>
            </div>
            <select required
            class="form-control"
            name="Department"
            #Department="ngModel"
            [(ngModel)]="service.formData.Department">
          <option *ngFor="let dl of listItems" [value]="dl">
            {{dl}}
          </option>
          </select>
          </div>

          <div class="m-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">MailID</span>
              </div>
              <input required minlength="2" type="text"
              class="form-control"
              name="MailID"
              #MailID="ngModel"
              [(ngModel)]="service.formData.MailID">
            </div>

            <div class="m-3 input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">DOJ</span>
                </div>
                <input required [matDatepicker]="picker"
                class="form-control" type="text"
                name="DOJ"
                #DOJ="ngModel"
                [(ngModel)]="service.formData.DOJ">

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              </div>

    
      <button class="mt-4" mat-raised-button
      color="primary" type="submit"
      [disabled]="form.invalid">Add Employee</button>
    
    
      </form>
    </div>