<div class="d-flex justify-content-between">
<h4>Add new Department</h4>

<button mat-button (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>

</div>

<div style="overflow: auto; height: 450px;">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

    <div class="mt-4 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Department Name</span>
      </div>
      <input required minlength="2" type="text"
      class="form-control"
      name="DepartmentName"
      #DepartmentName="ngModel"
      [(ngModel)]="service.formData.DepartmentName">
    </div>
    <div class="text-left text-danger"
    *ngIf="DepartmentName.invalid && DepartmentName.touched">
    Please enter Department name.
  </div>

  <button class="mt-4" mat-raised-button
  color="primary" type="submit"
  [disabled]="form.invalid">Add Department</button>


  </form>
</div>